/*FONTS*/
 @font-face {
  font-family:'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family:'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family:'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}
@font-face {
  font-family:'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/*Basics*/
 body {
  margin-top: 85px;
  /*background: url(../img/pw_maze_white.png);*/
  background: url(../img/pw_maze_white.png);
}
h1, h2, h3, h4, h5, h6 {
  font-family:'Lato', arial, sans-serif;
}
a:hover {
  text-decoration:none;
}
/*Navbar*/
.navbar-custom {
  background-color: #2E2E2E;
  border-color: #1D1D1D;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1.15em;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #1d1d1d;
}
.navbar-custom .navbar-toggle {
  border-color: transparent;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #1d1d1d;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #1c1c1c;
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}
.logo-nav{
  padding-top: 5px;
  padding-bottom: 5px;
}
.follow{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 26px;
  height: 30px;
  background-image: url(../img/share.png);
  background-repeat: no-repeat;
}
.follow:hover{
  transition: background-image 0.2s ease-in-out;
  background-image: url(../img/share-dark.png);
  background-repeat: no-repeat;
}
.btn-tt{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../img/icon-twitter.png);
  background-repeat: no-repeat;
}
.btn-fb{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../img/icon-facebook.png);
  background-repeat: no-repeat;
}
.btn-gp{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../img/icon-googleplus.png);
  background-repeat: no-repeat;
}
.btn-lin{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../img/icon-linkedin.png);
  background-repeat: no-repeat;
}
.btn-tt:hover{
  transition: background-image 0.2s ease-in-out;
  background-image: url(../img/icon-twitter-color.png);
  background-repeat: no-repeat;
}
.btn-fb:hover{
  transition: background-image 0.2s ease-in-out;
  background-image: url(../img/icon-facebook-color.png);
  background-repeat: no-repeat;
}
.btn-gp:hover{
  transition: background-image 0.2s ease-in-out;
  background-image: url(../img/icon-googleplus-color.png);
  background-repeat: no-repeat;
}
.btn-lin:hover{
  transition: background-image 0.2s ease-in-out;
  background-image: url(../img/icon-linkedin-color.png);
  background-repeat: no-repeat;
}
/*Posts*/
.separator {
  margin-bottom: 30px;
}
.btn {
  margin-bottom: 5px;
}
.thumbnail {
  position:relative;
  overflow:visible;
  background-color: #2d2d2d;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  box-shadow: rgba(128, 128, 128, 0.74) 0 2px 4px;
}
.thumbnail img {
  z-index: -1;
}
.thumbnail footer {
  padding: 10px;
}
.thumbnail h3 {
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 1.4em;
  /*font-weight: bold;*/
  border-bottom: 1px dotted #a4a4a4;
}
.thumbnail p {
  margin: 0px;
  padding: 4px 0px 0px 0px;
  font-size: 0.8em;
}
.caption {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(45, 45, 45, 0.4);
  width: 100%;
  color:#fff !important;
  /*border-radius: 4px 4px 0px 0px;*/
  /*z-index: 9000;*/
}
.caption a {
  color:#FFFFFF !important;
}
.caption:hover{
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
/*Sidebar*/
#sidebar .widget .widget-title {
  background: url(../img/fondo-2.png) repeat-x;
  background-color: #3198B6;
  padding: 1px 15px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
}
.widget-title h3 {
  color: #ffffff;
  text-shadow: 0px 1px 0px #FFFFFF;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  font-size: 1.3em;
  margin-top: 10px;
}
#sidebar .widget .widget-content {
  padding: 0 10px 10px 10px;
  background: #2d2d2d;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  color: #fff;
}
#sidebar .widget .widget-content a {
  color: #3198b6;
}
#sidebar .widget .container {
  margin: 20px 0;
  padding: 0;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  /*box-shadow: 0 0 10px #d1d1d1;*/
  box-shadow: rgba(128, 128, 128, 0.74) 0 2px 4px;
  max-width: none;
}
#sidebar .widget .widget-content ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}
#sidebar .widget .widget-content ul li {
  border-bottom: 1px dotted #444;
  padding: 5px;
}
#sidebar .widget .widget-content ul li:last-child {
  border-bottom: none;
  padding: 5px;
}
/*Social buttons*/
.modal-body{
  padding: 0px;
}
.modal-footer{
  margin-top: 0px !important;
}
  #social-links {}
  #social-links{}
    #social-links {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0px;
      text-align: center;
    }
    #social-links .social-link{
      margin: 5px;
    }
    #social-links span.ifacebook,
    #social-links span.itwitter,
    #social-links span.igoogleplus,
    #social-links span.irss {
      display: inline-table;
      width: 41px;
      text-align: center;

    }
    #social-links span.ifacebook { background: #354f88; padding: 10px 0 9px 0; }
    #social-links span.itwitter { background: #40a2d1; padding: 10px 0 10px 0; }
    #social-links span.igoogleplus { background: #ce3e26; padding: 10px 0 10px 0; }
    #social-links span.irss { background: #ed8832; padding: 10px 0 10px 0; }

    #social-links a.afacebook,
    #social-links a.atwitter,
    #social-links a.agoogleplus,
    #social-links a.arss {
      display: inline-table;
      color: #ffffff;
      text-decoration: none;
      margin: 0;
      width: 80%;
      text-align: center;
    }
    #social-links a.afacebook { background: #3b5998; padding: 10px 0 10px 0; }
    #social-links a.atwitter { background: #45b0e3; padding: 10px 0 10px 0; }
    #social-links a.agoogleplus { background: #de4c34; padding: 10px 0 10px 0; }
    #social-links a.arss { background: #f3a158; padding: 10px 0 10px 0; }

    #social-links a.afacebook:hover { background: #354f88; }
    #social-links a.atwitter:hover { background: #40a2d1; }
    #social-links a.agoogleplus:hover { background: #ce3e26; }
    #social-links a.arss:hover { background: #ed8832; }
/*Web footer*/
#web-footer{
  background-color: #2e2e2e;
  padding-top: 15px;
  padding-bottom: 15px;
}
#web-footer a{
  color: #ffffff;
}
#web-footer a:hover{
  color: #3198b6;
}
.html5-icon {
background: url(../img/univ-cats.png) no-repeat 0 -329px;
width: 27px;
height: 27px;
display: block;
display: inline-block;
vertical-align: middle;
}
.css3-icon {
background: url(../img/univ-cats.png) no-repeat 0 -188px;
width: 27px;
height: 27px;
display: block;
display: inline-block;
vertical-align: middle;
}
.cc-icon {
background: url(../img/univ-cats.png) no-repeat 0 -800px;
width: 27px;
height: 27px;
display: block;
display: inline-block;
vertical-align: middle;
}



/*Media query*/
@media (max-width:320px) {
  .container .row .col-lg-9, .container .row .col-sm-6 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .thumbnail {
    padding-right: 0px;
    padding-left: 0px;
  }
  .caption {
    position: relative;
    background: none;
    color:#fff !important;
  }
  .caption:hover {
    background: none;
  }  
}